@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



.btn{
       background: #E76F51;

}
.my-btn{
       outline: #E76F51;
}
       

header{
       padding-top: 5px;
       background:#264653 !important;
       
}

section{
       background: #264653 !important;
}


   a {
      color: #E77C40        
   }
   .client{
          padding-top: 5rem;
          background: #fff !important;
   }

.my-font{
       font-family: 'Poppins',sans-serif !important;
       font-size: 48px !important;
       font-weight: 600;
       padding-top: 5rem !important;
       }

span{
       color: #E77C40;
       font-family: 'Poppins',sans-serif !important;
       font-size: 48px !important;
       font-style: normal;
       font-weight: 400;
       

   }
   h6{
        color: #E77C40 !important;
   }

   h5{
       color: #23A6F0 !important;
       margin-top: 10px;
       font-family: 'Poppins',sans-serif !important;
       font-style: normal;
       font-weight: 600 !important;
       font-size: 14px !important;
   }
   .my-ques{
          padding-top: 7rem;
   }

   ul{
          display: flex;
          margin-left: -33px !important;
   }
   ul li{
          list-style: none !important;
   }
   ul li a{
          text-decoration: none;
          padding-right: 2em;
   }

   .my-footer{
          padding-top: 7rem !important;
   }

   .my-cursor{
          cursor: pointer;
   }
         
   
   @media (max-width:667px){
          .row{
                 display: flex;
                 flex-direction: column;
          }

          .my-ul{
                 display: grid;
                 grid-template-columns: repeat(3,1fr);

          }

          .my-ul li{
                 padding-bottom: 1em;
          }
   }
   